body {
  background-color: #3AAFA9;
  font-family: arial;
  margin: 0;
}

h1 {
  font-size: 3.7em;
  color: #FEFFFF;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

div.connection {
    background-color: #FEFFFF;
    font-size: 1em;
    color: #2B7A78;
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin: 28px 242PX;
    border-style: solid;
}

.main-img {
  display: flex;
  margin: -41px auto;
  padding: 63px;
  border-radius: 130px;
  width: 80%;
}

.instagram {
  display: flex;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.twitter {
  display: flex;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  color: #2B7A78;
  font-size:2em;
  margin-left:10px;
margin-top:30px;
}

h2 {
  color: #17252A;
  font-size:3em;
  margin-left: 10px;
}

p {
  color: #FEFFFF;
  font-size:2em;
  margin-left:10px;
}

Video {
   display: block; margin: 43px auto;
   width: 70%;
}

h3#video {
  color: #DEF2F1;
  font-size:1.8em;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #17252A;
}

#uses {
  color: #17252A;
  font-size:2.5em;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

li {
  font-size: 1.5em;
  color: #feffff;
  margin: 0 20px;
  transition: 0.6s ease;
}

li:hover {
  font-size: 1.2em;
  transition: 0.6s ease;
}

.nav-link {
  padding-right: 0em;
    padding-left: 0em;
}

#form {
  color: #DEF2F1;
}

h4 {
  font-size: 2em;
  margin-left:5px;

}
ul {
  font-size: 1em;
}

.html {
  width: 15%;
  margin-left:35px;
}

.css {
  width: 15%;
margin-left:35px;
}

.js {
  width: 20%;
  margin-left:20px;
}

.cs {
  width: 20%;
  margin-left:20px;
}

.java {
  width: 20%;
  margin-left:20px;
}

.python {
  width: 15%;
  margin-left:20px;
}

.navbar-brand {
  font-size: 2em;
}

.submit {
  align-items: center;
  padding-top: 320px;
}
